
<script src="carrinho.js"></script>
<script src="off-canvas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<div class="container">
    <footer class="py-3 my-4">
      <hr class="my-4">
      <p class="text-center text-body-secondary">&copy; Desenvolvido por Adriano Valcacio, Guilherme Ferreira e Victor Miralhas .</p>
    </footer>
  </div>

</body>
</html>